.main_page {
    display: flex;
    flex-direction: column-reverse;
}

.inputs {
    display: flex;
    gap: 1rem; /* Adds space between each input element */

    @media screen and (max-width: 1000px) {
        flex-flow: column;    
    }

    
    @media screen and (max-width:767px) {
        position: absolute;
        top: 10px;
        left: 10px;
        z-index: 1000; /* Ensure the text boxes are above the map */
        background-color: white;
        padding: 10px;
        border-radius: 5px;
    }
}


.inputs label {
    margin-bottom: 0.5rem; /* Adds space below each label */
}


.inputs input {
    padding: 0.5rem; /* Adds padding inside each input element */
    margin-bottom: 0.5rem; /* Adds space below each input element */
    border: 1px solid #ccc; /* Adds a border to each input element */
    border-radius: 4px; /* Adds rounded corners to each input element */
}


.inputs button {
    padding: 0.5rem 1rem; /* Adds padding inside the button */
    margin-bottom: 20px;
    background-color: #007bff; /* Sets the background color of the button */
    color: #fff; /* Sets the text color of the button */
    border: none; /* Removes the default button border */
    border-radius: 4px; /* Adds rounded corners to the button */
    cursor: pointer; /* Changes the cursor to a pointer on hover */
}


.inputs button:hover {
    background-color: #0056b3; /* Sets the background color of the button on hover */
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #262626
    }

    .inputs label {
        color: #ffffff
    }

    .inputs input {
        color: #ffffff;
        background-color: #6f6f6f;
    }

    .inputs button {
        padding: 0.5rem 1rem; /* Adds padding inside the button */
        margin-bottom: 20px;
        background-color: #ffd500; /* Sets the background color of the button */
        color: #000; /* Sets the text color of the button */
        border: none; /* Removes the default button border */
        border-radius: 4px; /* Adds rounded corners to the button */
        cursor: pointer; /* Changes the cursor to a pointer on hover */
    }

    .inputs button:hover {
        background-color: #cdaa00; /* Sets the background color of the button on hover */
    }
}