/* Global styling */

/* Default class and id */
.alert {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    background-color: #f44336;
    color: white;
    font-size: 24px;
    z-index: 9999;
}

.notification {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    background-color: #1aff00;
    color: rgb(0, 0, 0);
    font-size: 24px;
    z-index: 9999;
}  

.inputs {
    display: flex;
    gap: 1rem; /* Adds space between each input element */
}

.inputs label {
    margin-bottom: 0.5rem; /* Adds space below each label */
}


.inputs input {
    padding: 0.5rem; /* Adds padding inside each input element */
    margin-bottom: 0.5rem; /* Adds space below each input element */
    border: 1px solid #ccc; /* Adds a border to each input element */
    border-radius: 4px; /* Adds rounded corners to each input element */
}


.inputs button {
    padding: 0.5rem 1rem; /* Adds padding inside the button */
    margin-bottom: 10px;
    background-color: #007bff; /* Sets the background color of the button */
    color: #fff; /* Sets the text color of the button */
    border: none; /* Removes the default button border */
    border-radius: 4px; /* Adds rounded corners to the button */
    cursor: pointer; /* Changes the cursor to a pointer on hover */
}


.inputs button:hover {
    background-color: #0056b3; /* Sets the background color of the button on hover */
}


#map {
    width: 100%;
    height: 90vh;
}


/* Desktop scaled window styling */
@media screen and (max-width: 1000px) {
    .inputs {
        flex-flow: column;
    }

    #map {
        width: 100%;
        height: 50vh;
    }
}


/* Mobile styling */
@media screen and (max-width:767px) {
    .inputs {
        position: absolute;
        width: 90%;
        top: 0;
        padding: 5px;
    }

    .inputs label {
        margin-bottom: 0;
        font-size: 12px;
    }
    
    
    .inputs input {
        border: 1px solid #ccc; /* Adds a border to each input element */
        border-radius: 4px; /* Adds rounded corners to each input element */
    }
    
    
    .inputs button {
        padding: 5px;
        margin-bottom: 0;
        background-color: #007bff; /* Sets the background color of the button */
        color: #fff; /* Sets the text color of the button */
        border: none; /* Removes the default button border */
        border-radius: 4px; /* Adds rounded corners to the button */
        cursor: pointer; /* Changes the cursor to a pointer on hover */
    }

    #map {
        position: relative;
        top: 310px;
    }
}


/* Dark Mode Styling */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #262626
    }

    .inputs {
        background-color: #262626;
    }

    .inputs label {
        color: #ffffff
    }

    .inputs input {
        color: #ffffff;
        background-color: #6f6f6f;
    }

    .inputs button {
        background-color: #ffd500; /* Sets the background color of the button */
        color: #000; /* Sets the text color of the button */
        cursor: pointer; /* Changes the cursor to a pointer on hover */
    }

    .inputs button:hover {
        background-color: #cdaa00; /* Sets the background color of the button on hover */
    }

    @media screen and (max-width: 767px) {
        .inputs {
            background-color: rgba(255, 255, 255, 0);
        }
    }
}