/* Global styling */

.inputs {
    display: flex;
    gap: 1rem; /* Adds space between each input element */
    padding: 20px;
    font-size: 24px;
    background-color: #0033A0;
    color:#fff;
}


/* Default class and id */

.alert {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    background-color: #f44336;
    color: white;
    font-size: 24px;
    z-index: 9999;
}

.notification {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    background-color: #1aff00;
    color: rgb(0, 0, 0);
    font-size: 24px;
    z-index: 9999;
}  

.inputs label {
    margin-bottom: 0.5rem; /* Adds space below each label */
}


.inputs input, select {
    padding: 1.5rem; /* Adds padding inside each input element */
    margin-bottom: 0.5rem; /* Adds space below each input element */
    font-size: 20px;
    border: 1px solid #ccc; /* Adds a border to each input element */
    border-radius: 4px; /* Adds rounded corners to each input element */
}


.inputs button {
    padding: 0.5rem 1rem; /* Adds padding inside the button */
    margin-bottom: 10px;
    font-size: 24px;
    background-color: #D64309;
    color: #fff; /* Sets the text color of the button */
    border: none; /* Removes the default button border */
    border-radius: 4px; /* Adds rounded corners to the button */
    cursor: pointer; /* Changes the cursor to a pointer on hover */
}


.inputs button:hover {
    background-color: #0056b3; /* Sets the background color of the button on hover */
}


#map {
    width: 100%;
    height: 90vh;
}


/* Desktop scaled window styling */
@media (max-width: 1645px) {
    .inputs {
        flex-direction: column;
    }

    #map {
        width: 100%;
        height: 50vh;
    }
}


/* Mobile styling */
@media (max-width:767px) {
    .inputs {
        position: absolute;
        width: 95%;
        padding: 5px;
        top: 0;
    }

    .inputs input, select {
        padding: 0.5rem;
        font-size: 12px;
    }

    .inputs label {
        margin-bottom: 0;
        font-size: 12px;
    }

    .inputs button {
        font-size: 12px;
    }

    #map {
        position: relative;
        top: 43vh;
    }
}


/* Dark Mode Styling */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #262626
    }

    .inputs {
        color: #fff;
    }

    .inputs input, select {
        background-color: #6f6f6f;
        color: #fff;
    }
}